CUSTOMER_SERVICE_URL=http://localhost:8001
BOOK_SERVICE_URL=http://localhost:8002
CART_SERVICE_URL=http://localhost:8003

BOOKSTORE_STAFF_EMAIL=staff@bookstore.local
BOOKSTORE_STAFF_PASSWORD=staff123
BOOKSTORE_STAFF_NAME=Staff Demo
